.postImage {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.site-content {
    overflow: hidden !important;
    background-image: url('../image/portfolio-4.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 200px;
}

.jobCard {
    border-radius: 4px;
}

.mt-4 {
    margin-top: 15px;
}

.text-decoration {
    list-style: none;
    text-decoration: none;
}

.border-none {
    border: 0 !important;
    outline: none !important;
    color: rebeccapurple;
}